<GameInfo>
	<Maps>
		<!--  New DW Maps -->
		<Replace Domain="Maps:Expansion2Maps" File="TPT_RichVC.lua" Name="LOC_MAP_TPT_RichVC" Description="LOC_MAP_TPT_RichVC" Image="Map_Pangaea" SortIndex="0"/>
	</Maps>

	<Parameters>
		<!-- 地图 -->
		<Replace ParameterId="Map" Name="LOC_MAP_SCRIPT" Description="" Domain="StandardMaps" DefaultValue="TPT_RichVC.lua" ConfigurationGroup="Map" ConfigurationId="MAP_SCRIPT" ValueNameConfigurationId="MAP_NAME" ValueDomainConfigurationId="MAP_DOMAIN" GroupId="MapOptions" SupportsLANMultiplayer="0" SupportsInternetMultiplayer="0" SupportsHotSeat="0" ChangeableAfterPlayByCloudMatchCreate="0" SortIndex="210"/>
		<Replace ParameterId="Map" Name="LOC_MAP_SCRIPT" Description="" Domain="StandardMaps" DefaultValue="TPT_RichVC.lua" ConfigurationGroup="Map" ConfigurationId="MAP_SCRIPT" ValueNameConfigurationId="MAP_NAME" ValueDomainConfigurationId="MAP_DOMAIN" GroupId="MapOptions" SupportsSinglePlayer="0" ChangeableAfterPlayByCloudMatchCreate="0" SortIndex="210"/>

		<!-- 地图宽度 -->
		<Replace Key1="Map" Key2="TPT_RichVC.lua" ParameterId="MapWidth" Name="LOC_MAP_WIDTH_NAME" Description="LOC_MAP_WIDTH_DESC" Domain="MapWidthRange" DefaultValue="0" ConfigurationGroup="Game" ConfigurationId="MapWidth" Hash="0" GroupId="MapOptions" SortIndex="211"/>

		<!-- 初始道路 -->
		<Replace Key1="Map" Key2="TPT_RichVC.lua" ParameterId="RouteLevel" Name="LOC_MAP_ROUTE_LEVEL_NAME" Description="LOC_MAP_ROUTE_LEVEL_DESCRIPTION" Domain="Route_Level" DefaultValue="-1" ConfigurationGroup="Map" ConfigurationId="RouteLevel" GroupId="MapOptions" Hash="0" SortIndex="212"/>

		<!-- 富饶系数 -->
		<Replace Key1="Map" Key2="TPT_RichVC.lua" ParameterId="RichNum" Name="LOC_MAP_RICH_NUM_NAME" Description="LOC_MAP_RICH_NUM_DESC" Domain="RichNumRange" DefaultValue="4" ConfigurationGroup="Map" ConfigurationId="RichNum" Hash="0" GroupId="MapOptions" SortIndex="211"/>

		<!-- 地图特性 -->
		<Replace Key1="Map" Key2="TPT_RichVC.lua" ParameterId="MapTrait" Name="LOC_MAP_TRAIT_NAME" Description="LOC_MAP_TRAIT_RICHNS_DESCRIPTION" Domain="bool" DefaultValue="0" ConfigurationGroup="Game" ConfigurationId="MapTrait" GroupId="MapOptions" Hash="0" SortIndex="212"/>

		<!-- 通用设置 山脉、战略、出生点 -->
		<Replace ParameterId="BBS_SRESOURCES" Name="LOC_GAME_BBS_SRESOURCES_NAME" Description="LOC_GAME_BBS_SRESOURCES_DESC" Domain="StratResDomain" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="BBSStratRes" GroupId="MapOptions" SupportsSinglePlayer="0" SortIndex="230" />
		<Replace ParameterId="BBS_Team_Spawn" Name="LOC_BBS_Team_Spawn_NAME" Description="LOC_BBS_Team_Spawn_DESC" Domain="TeamersDomain" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="BBS_Team_Spawn" GroupId="MapOptions" Visible="1" SortIndex="233"/>

		<!-- 其他参数 -->
		<Replace Key1="Map" Key2="TPT_RichVC.lua" ParameterId="SpawnRecalculation" Name="LOC_GAME_SPAWN_RECALCULATION" Description="LOC_GAME_SPAWN_RECALCULATION_DESC" Domain="bool" DefaultValue="1" ConfigurationGroup="Game" ConfigurationId="SpawnRecalculation" GroupId="BBSOptions" SortIndex="2050"/>
		<Replace Key1="Map" Key2="TPT_RichVC.lua" ParameterId="WorldAge" Name="LOC_MAP_WORLD_AGE_NAME" Description="LOC_MAP_WORLD_AGE_DESCRIPTION" Domain="WorldAge" DefaultValue="2" ConfigurationGroup="Map" ConfigurationId="world_age" GroupId="MapOptions" Hash="0" SortIndex="230"/>
		<Replace Key1="Map" Key2="TPT_RichVC.lua" ParameterId="Temperature" Name="LOC_MAP_TEMPERATURE_NAME" Description="LOC_MAP_TEMPERATURE_DESCRIPTION" Domain="Temperature" DefaultValue="2" ConfigurationGroup="Map" ConfigurationId="temperature" GroupId="MapOptions" Hash="0" SortIndex="240"/>
		<Replace Key1="Map" Key2="TPT_RichVC.lua" ParameterId="Rainfall" Name="LOC_MAP_RAINFALL_NAME" Description="LOC_MAP_RAINFALL_DESCRIPTION" Domain="Rainfall" DefaultValue="2" ConfigurationGroup="Map" ConfigurationId="rainfall" GroupId="MapOptions" Hash="0" SortIndex="250"/>
		<Replace Key1="Map" Key2="TPT_RichVC.lua" ParameterId="SeaLevel" Name="LOC_MAP_SEA_LEVEL_NAME" Description="LOC_MAP_SEA_LEVEL_LOW_DESCRIPTION" Domain="SeaLevel" DefaultValue="2" ConfigurationGroup="Map" ConfigurationId="sea_level" GroupId="MapOptions" Hash="0" SortIndex="260"/>
		<Replace Key1="Map" Key2="TPT_RichVC.lua" ParameterId="Resources" Name="LOC_MAP_RESOURCES_NAME" Description="LOC_MAP_RESOURCES_DESCRIPTION" Domain="Resources" DefaultValue="2" ConfigurationGroup="Map" ConfigurationId="resources" GroupId="MapOptions" Hash="0" SortIndex="270"/>
		<Replace Key1="Map" Key2="TPT_RichVC.lua" ParameterId="StartPosition" Name="LOC_MAP_START_POSITION_NAME" Description="LOC_MAP_START_POSITION_DESCRIPTION" Domain="StartPosition" DefaultValue="2" ConfigurationGroup="Map" ConfigurationId="start" GroupId="MapOptions" Hash="0" SortIndex="280"/>
		<Replace Key1="Map" Key2="TPT_RichVC.lua" ParameterId="AutoRemap" Name="LOC_GAME_SPAWN_REMAP" Description="LOC_GAME_SPAWN_REMAP_DESC" Domain="bool" DefaultValue="0" ConfigurationGroup="Game" ConfigurationId="AutoRemap" GroupId="AdvancedOptions" Visible="0" SortIndex="2051"/>

	</Parameters>

	<DomainValues>
		<Replace Domain="OldWorldStart" Value="OLD_WORLD" 	Name="Old World Only" 			Description="All civs start in 'old world'." 			SortIndex="10"/>
		<Replace Domain="OldWorldStart" Value="ANYWHERE" 	Name="Start Anywhere" 			Description="Civs start anywhere in the world." 		SortIndex="20"/>

		<Replace Domain="TeamersDomain" Value="0" Name="BBS_Team_Spawn_NORMAL_NAME" Description="BBS_Team_Spawn_NORMAL_DESC" SortIndex="10"/>
		<Replace Domain="TeamersDomain" Value="1" Name="BBS_Team_Spawn_EW_NAME" Description="BBS_Team_Spawn_EW_DESC" SortIndex="20"/>
		<Replace Domain="TeamersDomain" Value="2" Name="BBS_Team_Spawn_NS_NAME" Description="BBS_Team_Spawn_NS_DESC" SortIndex="30"/>

        <Replace Domain="StratResDomain" Value="1" Name="BBS_SRESOURCES_MORE_NAME" Description="BBS_SRESOURCES_MORE_DESC" SortIndex="20"/>
		<Replace Domain="StratResDomain" Value="2" Name="BBS_SRESOURCES_MUCHMORE_NAME" Description="BBS_SRESOURCES_MUCHMORE_DESC" SortIndex="30"/>

		<Replace Domain="RidgeDomain" Value="1" Name="BBS_RIDGE_RF_NAME" Description="BBS_RIDGE_RF_DESC" SortIndex="20"/>
		<Replace Domain="RidgeDomain" Value="2" Name="BBS_RIDGE_VLESS_NAME" Description="BBS_RIDGE_VLESS_DESC" SortIndex="30"/>

		<Replace Domain="Route_Level" Value="-1" 	Name="LOC_ROUTE_NOT_ROAD_NAME" 				Description="LOC_ROUTE_NOT_ROAD_NAME" 				SortIndex="0"/>
		<Replace Domain="Route_Level" Value="0" 	Name="LOC_ROUTE_ANCIENT_ROAD_NAME" 			Description="LOC_ROUTE_ANCIENT_ROAD_NAME" 			SortIndex="10"/>
		<Replace Domain="Route_Level" Value="1" 	Name="LOC_ROUTE_MEDIEVAL_ROAD_NAME" 		Description="LOC_ROUTE_MEDIEVAL_ROAD_NAME" 			SortIndex="20"/>
		<Replace Domain="Route_Level" Value="2" 	Name="LOC_ROUTE_INDUSTRIAL_ROAD_NAME" 		Description="LOC_ROUTE_INDUSTRIAL_ROAD_NAME" 			SortIndex="30"/>
		<Replace Domain="Route_Level" Value="3" 	Name="LOC_ROUTE_MODERN_ROAD_NAME" 			Description="LOC_ROUTE_MODERN_ROAD_NAME" 			SortIndex="40"/>
		<Replace Domain="Route_Level" Value="4" 	Name="LOC_MAP_ROUTE_RAILROAD_NAME" 			Description="LOC_MAP_ROUTE_RAILROAD_NAME" 			SortIndex="50"/>
	</DomainValues>
	<DomainRanges>
		<Replace Domain="MapWidthRange" MinimumValue="-4" MaximumValue="4"/>
		<Replace Domain="RichNumRange" MinimumValue="-10" MaximumValue="10"/>
	</DomainRanges>
	<MapSizes>
		<!-- Standard Map Sizes -->
		<Replace MapSizeType="MAPSIZE_DUEL" Name="LOC_MAPSIZE_DUEL_NAME" Description="LOC_MAPSIZE_DUEL_DESCRIPTION" MinPlayers="2" MaxPlayers="20" DefaultPlayers="2" MinCityStates="0" MaxCityStates="3" DefaultCityStates="3" SortIndex="10" />
		<Replace MapSizeType="MAPSIZE_GIGANTIC" Name="LOC_MAPSIZE_FOURE_NAME" Description="LOC_MAPSIZE_FOURE_DESCRIPTION" MinPlayers="2" MaxPlayers="6" DefaultPlayers="4" MinCityStates="0" MaxCityStates="6" DefaultCityStates="3" SortIndex="15" />
		<Replace MapSizeType="MAPSIZE_TINY" Name="LOC_MAPSIZE_TINY_NAME" Description="LOC_MAPSIZE_TINY_DESCRIPTION" MinPlayers="2" MaxPlayers="20" DefaultPlayers="6" MinCityStates="0" MaxCityStates="6" DefaultCityStates="4" SortIndex="20" />
		<Replace MapSizeType="MAPSIZE_SMALL" Name="LOC_MAPSIZE_SMALL_NAME" Description="LOC_MAPSIZE_SMALL_DESCRIPTION" MinPlayers="2" MaxPlayers="20" DefaultPlayers="8" MinCityStates="0" MaxCityStates="8" DefaultCityStates="5" SortIndex="30" />
		<Replace MapSizeType="MAPSIZE_STANDARD" Name="LOC_MAPSIZE_STANDARD_NAME" Description="LOC_MAPSIZE_STANDARD_DESCRIPTION" MinPlayers="2" MaxPlayers="20" DefaultPlayers="10" MinCityStates="0" MaxCityStates="10" DefaultCityStates="6" SortIndex="40" />
		<Replace MapSizeType="MAPSIZE_LARGE" Name="LOC_MAPSIZE_LARGE_NAME" Description="LOC_MAPSIZE_LARGE_DESCRIPTION" MinPlayers="2" MaxPlayers="20" DefaultPlayers="12" MinCityStates="0" MaxCityStates="12" DefaultCityStates="6" SortIndex="50" />
		<Replace MapSizeType="MAPSIZE_HUGE" Name="LOC_MAPSIZE_HUGE_NAME" Description="LOC_MAPSIZE_HUGE_DESCRIPTION" MinPlayers="2" MaxPlayers="20" DefaultPlayers="14" MinCityStates="0" MaxCityStates="12" DefaultCityStates="7" SortIndex="60" />
		<Replace MapSizeType="MAPSIZE_HUGE_16" Name="LOC_MAPSIZE_HUGE_16_NAME" Description="LOC_MAPSIZE_HUGE_16_DESCRIPTION" MinPlayers="2" MaxPlayers="18" DefaultPlayers="16" MinCityStates="0" MaxCityStates="12" DefaultCityStates="8" SortIndex="200" />
		<Replace MapSizeType="MAPSIZE_HUGE_18" Name="LOC_MAPSIZE_HUGE_18_NAME" Description="LOC_MAPSIZE_HUGE_18_DESCRIPTION" MinPlayers="2" MaxPlayers="20" DefaultPlayers="18" MinCityStates="0" MaxCityStates="14" DefaultCityStates="8" SortIndex="201" />
	</MapSizes>
</GameInfo>
